{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>First Page</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'css/First-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
<body class="home">
    <div class="side-bar">
        <a class="title">zzAutumn</a>
    </div>
    <div class="img-wrapper">
    </div>
    <div class="content">
        <div class="part1">
            <h1 style="font-size: 30px;font-family: monospace">
                "Be strong enough to let go and wise enough to wait for what you deserve."
            </h1>
        </div>
        <div class="hr"></div>
        <div class="part2" style="font-size: 20px;font-family: Monaco">
            <p>
                Hi! I am autumn. This is my blog. Do you like it?
            </p>
            <p>
                I am a postgraduate student at Beijing Medical University. My major is Biochemistry and Molecular Biology，but I got interest in web development.
                So I design my first web application using what I learned by myself. I use python for back-end management where I use Django module.
                And for front-end development I use html, css and javascript. Also this invole githup and linux operation.
            </p>
            <p>
                So far I plan to strengthen my skill in web design.
                Every thing will be okay. Just keep doing.
            </p>
        </div>
        <div class="hr"></div>
        <div class="footer">
            <div class="footer-content" style="font-size: 19px;font-family: 'Arial'">
                &copy;2018 zzAutumn
            </div>
            <div class="footer-li">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-github-alt fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-weibo fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="#"><i class="fas fa-angle-double-right fa-2x"></i></a>
        </div>
    </div>
</body>
</html>
