{% load staticfiles %}
<!DOCTYPE>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<html>
    <head>
        <title>zzAutmn's blog</title>
        <link  rel='stylesheet' href="{% static 'css/home_page.css' %}" />
    </head>

    <body>
        <div class="text-center">
            <h2></h2>
            </p>
            <p>
                sljdkgjhd
            </p>
        </div>
        <ul class="text-center">
            <li>dsfk</li>

        </ul>
    </body>

</html>
