<html>
    <head>
        <title>zzAutmn's blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>zzAutumn's Blog</a></h1>
        </div>

        <div>
            <p>published:29.12.2017, 8:42</p>
            <h2><a href=''>my first post</a></h2>
            <p>there should have some things to read...</p>
        </div>

        <div>
            <p>published:29.12.2017, 8:50</p>
            <h2><a href=''>my second post</a></h2>
            <p>en, nothing to share...</p>
        </div>
    </body>
</html>

